@import '@sass/abstract/mixins.abstract.scss';
@import '@sass/base/typographys.base.scss';

.caption {
  @include subtitle(
    $color: map-get($typography-colors, 'black'),
    $size: $size-sm
  );
  white-space: pre-line;
}
