@import '@sass/abstract/variables.abstract.scss';

.main {
  max-width: $max-width;
  margin: 80px auto;
  padding: 1rem;

  .main__products {
    display: flex;
    flex-direction: column;
    gap: 4rem 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    @media screen and (min-width: 700px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .main__heading {
    margin: 2rem 0;
  }
}
