@import '@sass/base/typographys.base.scss';

@mixin heading(
  $color: map-get($typography-colors, 'white'),
  $size: $size-xxl,
  $weight: weight-typo(),
  $family: $font-sans
) {
  margin: 0;
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin title(
  $color: map-get($typography-colors, 'white'),
  $size: $size-xs,
  $weight: weight-typo(),
  $family: $font-sans
) {
  margin: 0;
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin subtitle(
  $color: map-get($typography-colors, 'white'),
  $size: $size-lg,
  $weight: weight-typo(),
  $family: $font-sans
) {
  margin: 0;
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin paragraph(
  $color: map-get($typography-colors, 'white'),
  $size: $size-sm,
  $weight: weight-typo(),
  $family: $font-sans
) {
  margin: 0;
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: 30px;
}
